---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/352559_PC?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ratelimit-limit:
      - '50'
      ratelimit-remaining:
      - '12'
      akamai-grn:
      - 0.34e92d17.1675085745.398f5426
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-30T14:28:00+01:00","EpochTime":1675085280,"WeatherText":"Light
        snow","WeatherIcon":19,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":true,"Temperature":{"Metric":{"Value":-0.6,"Unit":"C","UnitType":17},"Imperial":{"Value":31.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang=en-us","Link":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang=en-us"}]'
  recorded_at: Mon, 30 Jan 2023 13:35:45 GMT
recorded_with: VCR 6.1.0
